@import '../../styles';

.favourite {
  position: relative;
  visibility: hidden;
  opacity: 0;
  padding: 8px;
  background: $gray2;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  border: 0;
  -webkit-transition: visibility 0s, opacity 0.3s linear;
  transition: visibility 0s, opacity 0.3s linear;

  &.active {
    visibility: visible;
    opacity: 1;
    background: $blue;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: cr(14px);
    line-height: cr(16px);
    color: $gray1;
    margin-left: 8px;
  }
}
